# Entra ID
TENANT_ID=your-tenant-id
CLIENT_ID=your-client-id
CLIENT_SECRET=your-client-secret
REDIRECT_PATH=/getAToken

# URLs
BACKEND_BASE_URL=https://holidayparks-backend.whitedune-b42d430c.swedencentral.azurecontainerapps.io
FRONTEND_BASE_URL=https://holidayparks-frontend.whitedune-b42d430c.swedencentral.azurecontainerapps.io

# Audit logs opslaan in Azure SQL Database
AUDIT_STORAGE=azure_sql
AZURE_SQL_SERVER=sql-dbs-app.database.windows.net
AZURE_SQL_DATABASE=sql-db-app
AZURE_SQL_USERNAME=sqladmin
AZURE_SQL_PASSWORD=Sqldatabase123
AZURE_SQL_DRIVER=ODBC Driver 18 for SQL Server

# Alleen gebruiken als je tijdelijk terug wilt naar JSON logs
AUDIT_LOG_FILE=/tmp/fonteyn_audit_logs.json
